# Copy this file to .env and fill in your credentials.
EMAIL_ADDRESS="khan.rashidali4343@gmail.com"
EMAIL_PASSWORD="rashidalim514l@gmail.com-=\"mvbk nmcf aaok wtrm\""
OPENAI_API_KEY=="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"