# Copy this file to .env and fill in your credentials.
EMAIL_ADDRESS=khan.rashidali4343@gmail.com
EMAIL_PASSWORD=rashidalim514l@gmail.com-="mvbk nmcf aaok wtrm"
OPENAI_API_KEY=="AQ.Ab8RN6IYdREVGtulj2a7BfvJSHKOlLbe75RpiPXwp0suMP-hYA"